body{
	background-image: url(https://www.bing.com/th/id/OGC.bead0ffe77a3fd513511c05dafb492e6?pid=1.7&rurl=https%3a%2f%2fmedia1.tenor.com%2fimages%2fbead0ffe77a3fd513511c05dafb492e6%2ftenor.gif%3fitemid%3d18105609&ehk=MHWo3ie4GvRJyXY8yCgALpSiDAZ%2fdgtQKQBZOeltG2M%3d);
    background-size: 200px;
	background-position: 100% 100%;
	background-attachment: fixed;

}
p{
	font-size: 50px;
	color: red;
}
.p1{
	text-align:center;
	background-color: lightcyan;
}
